*{
	margin:0px;
	padding:0px;
}
html{
	height:100%;
	width:100%;
}
.body{
	height:100%;
	width:100%;
	border:1px solid #FFF;
	background-color:#f1f0ee;
}
#data{
	display:none;
}


.container-fluid{
	margin:70px 0px;
}
.content{
	padding:20px;
	box-shadow: 1px 1px 2px 2px #d3d3d3;
	background-color:#fff;
	min-width: 960px;
}
.content .leftImg{
	background:url("../imgs/wallback.png") no-repeat;
	background-size:100% 100%;
	text-align:center;
	padding:20px;
	font-size:30px;
	font-weight:bold;
	line-height:70px;
	position:relative;
	z-index:1;
	float:left;
	margin-top: 10px;
	margin-bottom: 10px;
}
.content .leftImg #QrCode{
	height:400px;
}


.content .rightInfo{
	float:right;
	min-width:30%;
	position:relative;
	z-index:0;
}
.content .rightInfo .info{
	height:110px;
	padding:10px 0px;
	/* border:1px solid red; */
}
.content .rightInfo .info .activityTitle{
	font-size:28px;
	font-weight:bold;
	color:#EA853C;
	/* border:1px solid red; */
}
.content .rightInfo .info .otherInfo label{
	font-weight:normal;
	color:#EA853C;
	/* border:1px solid red; */
}
.content .rightInfo .info .otherInfo .time{
	font-size:15px;
	float:left;
}
.content .rightInfo .info .otherInfo .number{
	font-size:20px;
	float:right;
	margin-right:100px;
}


.content .rightInfo .line{
	border-top:1px solid #D8D8D8;
	height:30px;
	position:relative;
	left: -40px;
	/* border:1px solid red; */
}
.content .rightInfo .line .updown{
	height:30px;
	float:right;
	margin-top:-15px;
	position:relative;
	left:30px;
	/* border:1px solid red; */
}
.content .rightInfo .people{
	height:400px;
	overflow:auto;
	padding:3px;
	margin: 0px 15px 0px 0px;
	/* border:1px solid red; */
}
.content .rightInfo .people .aPerson{
	text-align:center;
	display:inline-block;
	width:70px;
	margin:13px;
	float:left;
}
.content .rightInfo .people .aPerson img{
	height:70px;
}
